<!doctype html>

<head>
	<title>Input the parameters</title>
</head>

<body>
<h1>Input the parameters</h1>

<form action= "/view" method="post">
<label>Back Shielding (mm): </label>
<input type="number" name="ShBack" step=0.01 />
<br />
<label>Side Shielding (mm): </label>
<input type="number" name="ShSide" step=0.01 />
<br />
<label>Depth of Collimator (mm):</label>
<input type="number" name="CollDep" step=0.01 />
<br />
<label>Depth of Crystal (mm):</label>
<input type="number" name="CryDep" step=0.01 />
<br />
<label>Length of Crystal (mm):</label>
<input type="number" name="CryLeng" step=0.01 />
<br />
<label>Width of Crystal (mm):</label>
<input type="number" name="CryWid" step=0.01 />
<br />
<label>Depth of PMT (mm):</label>
<input type="number" name="PMTDep" step=0.01 />
<br />
<label>Distance of Detector Surface to the Center (mm): </label>
<input type="number" name="Dist" step=0.01 />
<br />
<label>Radius of hole (mm): </label>
<input type="number" name="HoleR" step=0.01 />
<br />
<label>Depth of Septa (mm): </label>
<input type="number" name="Septa" step=0.01 />
<br />
<input type="submit" value="Submit"/>

</form>

</body>